<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Available classes</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background: var(--bs-purple);">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="color: rgba(255,255,255,0.9);"><strong>E-Diary</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a th:text="|Profile (${profile.firstName} ${profile.lastName})|" class="nav-link" href="#" style="color: rgba(255,255,255);"/></li>
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: rgb(255,255,255);">Classes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Grades</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Teachers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Materials</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h1 style="text-align: center;margin-top: 3%;">Available classes</h1>
        <form method="post" th:action="@{/classes/available/search}" th:object="${subjectNameDTO}">
            <div class="input-group" style="width: 75%;margin-right: auto;margin-left: auto;margin-top: 2%;">
                <input class="form-control" type="text" placeholder="Search for available classes" th:name="|subjectName|" th:value="${subjectName}">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
        <div th:if="${!#lists.isEmpty(availableSchoolClassesDTO)}" class="table-responsive" style="width: 75%;border-width: 1px;margin-right: auto;margin-left: auto;margin-top: 3%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Classroom</th>
                        <th>Teacher</th>
                        <th>Equipment</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="schoolClassDTO : ${availableSchoolClassesDTO}">
                    <tr th:onclick="|location.href='/classes/available/${schoolClassDTO.schoolClass.id}'|" style="cursor: pointer;">
                        <td th:text="${schoolClassDTO.schoolClass.subject.subject}"/>
                        <td th:text="${schoolClassDTO.schoolClass.classroom.number}"/>
                        <td th:if="${#lists.size(schoolClassDTO.teachers) == 1}" th:text="${schoolClassDTO.teachers[0].firstName + ' ' + schoolClassDTO.teachers[0].lastName}"/>
                        <td th:if="${#lists.size(schoolClassDTO.teachers) > 1}" th:text="${schoolClassDTO.teachers[0].firstName + ' ' + schoolClassDTO.teachers[0].lastName + ', ' + schoolClassDTO.teachers[1].firstName + ' ' + schoolClassDTO.teachers[1].lastName + '...'}"/>
                        <th:block th:switch="${schoolClassDTO.equipmentStatus.name()}">
                            <td th:case="'PRESENT'">Present</td>
                            <td th:case="'NOT_NEEDED'">Not needed</td>
                            <td th:case="'NOT_AVAILABLE'">Not available</td>
                        <th:block>
                        <td th:text="${#temporals.format(schoolClassDTO.schoolClass.startDate, 'yyyy-MM-dd')}"/>
                        <td th:text="${schoolClassDTO.schoolClass.endDate == null} ? 'Not Specified' : ${#temporals.format(schoolClassDTO.schoolClass.endDate, 'yyyy-MM-dd')}" />
                    </tr>
                    <th:block>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(availableSchoolClassesDTO)}" class="table-responsive" style="text-align: center;width: 75%;border-width: 1px;margin-right: auto;margin-left: auto;margin-top: 3%;">
            <table class="table table-hover">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${subjectName != null} ? 'No classes are available with name:' + ' ' + ${subjectName} : 'No classes are available for you'" style="font-size: 28px;"/>
                </tr>
                </tbody>
            </table>
        </div>

        <h1 th:if="${!#lists.isEmpty(signedUpSchoolClassesDTO)}" style="text-align: center;margin-top: 3%;">Signed up classes</h1>
        <div th:if="${!#lists.isEmpty(signedUpSchoolClassesDTO)}" class="table-responsive" style="width: 75%;border-width: 1px;margin-right: auto;margin-left: auto;margin-top: 3%;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Classroom</th>
                    <th>Teacher</th>
                    <th>Equipment</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="schoolClassDTO : ${signedUpSchoolClassesDTO}">
                    <tr th:onclick="|location.href='/classes/${schoolClassDTO.schoolClass.id}'|" style="cursor: pointer;">
                        <td th:text="${schoolClassDTO.schoolClass.subject.subject}"/>
                        <td th:text="${schoolClassDTO.schoolClass.classroom.number}"/>
                        <td th:if="${#lists.size(schoolClassDTO.teachers) == 1}" th:text="${schoolClassDTO.teachers[0].firstName + ' ' + schoolClassDTO.teachers[0].lastName}"/>
                        <td th:if="${#lists.size(schoolClassDTO.teachers) > 1}" th:text="${schoolClassDTO.teachers[0].firstName + ' ' + schoolClassDTO.teachers[0].lastName + ', ' + schoolClassDTO.teachers[1].firstName + ' ' + schoolClassDTO.teachers[1].lastName + '...'}"/>
                        <th:block th:switch="${schoolClassDTO.equipmentStatus.name()}">
                            <td th:case="'PRESENT'">Present</td>
                            <td th:case="'NOT_NEEDED'">Not needed</td>
                            <td th:case="'NOT_AVAILABLE'">Not available</td>
                            <th:block>
                                <td th:text="${#temporals.format(schoolClassDTO.schoolClass.startDate, 'yyyy-MM-dd')}"/>
                                <td th:text="${schoolClassDTO.schoolClass.endDate == null} ? 'Not Specified' : ${#temporals.format(schoolClassDTO.schoolClass.endDate, 'yyyy-MM-dd')}" />
                    </tr>
                    <th:block>
                </tbody>
            </table>
        </div>

        <h1 th:if="${!#lists.isEmpty(resignedSchoolClassesDTO)}" style="text-align: center;margin-top: 3%;">Resigned classes</h1>
        <div th:if="${!#lists.isEmpty(resignedSchoolClassesDTO)}" class="table-responsive" style="width: 75%;border-width: 1px;margin-right: auto;margin-left: auto;margin-top: 3%;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Classroom</th>
                    <th>Teacher</th>
                    <th>Equipment</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="schoolClassDTO : ${resignedSchoolClassesDTO}">
                    <tr th:onclick="|location.href='/classes/resigned/${schoolClassDTO.schoolClass.id}'|" style="cursor: pointer;">
                        <td th:text="${schoolClassDTO.schoolClass.subject.subject}"/>
                        <td th:text="${schoolClassDTO.schoolClass.classroom.number}"/>
                        <td th:if="${#lists.size(schoolClassDTO.teachers) == 1}" th:text="${schoolClassDTO.teachers[0].firstName + ' ' + schoolClassDTO.teachers[0].lastName}"/>
                        <td th:if="${#lists.size(schoolClassDTO.teachers) > 1}" th:text="${schoolClassDTO.teachers[0].firstName + ' ' + schoolClassDTO.teachers[0].lastName + ', ' + schoolClassDTO.teachers[1].firstName + ' ' + schoolClassDTO.teachers[1].lastName + '...'}"/>
                        <th:block th:switch="${schoolClassDTO.equipmentStatus.name()}">
                            <td th:case="'PRESENT'">Present</td>
                            <td th:case="'NOT_NEEDED'">Not needed</td>
                            <td th:case="'NOT_AVAILABLE'">Not available</td>
                            <th:block>
                                <td th:text="${#temporals.format(schoolClassDTO.schoolClass.startDate, 'yyyy-MM-dd')}"/>
                                <td th:text="${schoolClassDTO.schoolClass.endDate == null} ? 'Not Specified' : ${#temporals.format(schoolClassDTO.schoolClass.endDate, 'yyyy-MM-dd')}" />
                    </tr>
                    <th:block>
                </tbody>
            </table>
        </div>
    </div>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>