<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Class cancellation</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background: var(--bs-purple);">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="color: rgba(255,255,255,0.9);"><strong>E-Diary</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a th:text="|Profile (${profile.firstName} ${profile.lastName})|" class="nav-link" href="#" style="color: rgba(255,255,255);"/></li>
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: rgb(255,255,255);">Classes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Grades</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Teachers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Materials</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h1 style="text-align: center;margin-top: 3%;">Sign up confirmation</h1>
    </div>
    <div class="container" style="margin-top: 3%;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger" style="text-align: center;padding-top: 3%;padding-bottom: 3%;"><span class="fs-4 fw-bold">You have cancelled signing up for a new class.<br></span></li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col text-center" style="margin-top: 2%;"><button class="btn btn-primary btn-lg" type="button" style="padding-right: 11%;padding-left: 11%;" onclick="location.href='/'">Home</button></div>
            <div class="col"></div>
        </div>
    </div>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>